.serverBrowser {
  .refreshBtn {
    margin-left: 20px;
  }
  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }
}

/* Default tab style */

.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}

/* Nav */
.tabs div.header {
  text-align: center;
}

.tabs div ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.tabs div ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tabs div a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
}

.tabs div a span {
  vertical-align: middle;
  font-size: 0.75em;
}

.tabs div ul li.selected a {
  color: #74777b;
}

.tabs div a:focus {
  outline: none;
}

/* Icons */
.icon::before {
  z-index: 10;
  display: inline-block;
  margin: 0 0.4em 0 0;
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  font-variant: normal;
  font-size: 1.3em;
  font-family: 'stroke7pixeden';
  line-height: 1;
  speak: none;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-upload::before {
  content: "\e68a";
}
.icon-tools::before {
  content: "\e60a";
}
.icon-plane::before {
  content: "\e625";
}
.icon-joy::before {
  content: "\e6a4";
}
.icon-plug::before {
  content: "\e69a";
}
.icon-home::before {
  content: "\e648";
}
.icon-gift::before {
  content: "\e652";
}
.icon-display::before {
  content: "\e65e";
}
.icon-date::before {
  content: "\e660";
}
.icon-config::before {
  content: "\e666";
}
.icon-coffee::before {
  content: "\e669";
}
.icon-camera::before {
  content: "\e66f";
}
.icon-box::before {
  content: "\e674";
}

/* Content */
.contentWrap {
  position: relative;
}

.contentWrap section {
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
}

.contentWrap section p {
  margin: 0;
  padding: 0.75em 0;
  color: rgba(40,44,42,0.05);
  font-weight: 900;
  font-size: 4em;
  line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
  display: block;
}

.no-flexbox nav ul li {
  min-width: 15%;
  display: inline-block;
}

@media screen and (max-width: 58em) {
  .tabs nav a.icon span {
    display: none;
  }
  .tabs nav a:before {
    margin-right: 0;
  }
}

/*****************************/
/* Line */
/*****************************/

.tabsStyleLine div ul {
  padding: 0 2em;
  max-width: none;
  box-shadow: inset 0 -2px #d1d3d2;
}

.tabsStyleLine div a {
  padding: 0.7em 0.4em;
  box-shadow: inset 0 -2px #d1d3d2;
  color: #74777b;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 1;
  -webkit-transition: color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s;
}

.tabsStyleLine div a:hover,
.tabsStyleLine div a:focus {
  box-shadow: inset 0 -2px #74777b;
}

.tabsStyleLine div ul li.selected a {
  box-shadow: inset 0 -2px #2CC185;
  color: #2CC185;
}

@media screen and (max-width: 58em) {
  .tabsStyleLine div ul {
    display: block;
    box-shadow: none;
  }
  .tabsStyleLine div ul li {
    display: block;
    -webkit-flex: none;
    flex: none;
  }
}
